
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    box-sizing: border-box; 
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}

body{
    gap: 30px;
    background-color: #E8F5E9;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/**************** Navigation Bar ********************/

.navbar{
    background-color:#2E7D32;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;

    color: white;
    font-weight: bold;
    font-size: 23px;
}

.inv-nav{
    width: 100%;
    height: 55px;
}

.goback-container{
    position: absolute;
    top: 45px;
    padding: 15px;
}

@media(max-width: 900px){
    .goback-container{
        top: 50px;
    }
}

@media(max-width: 900px){
    .goback-container{
        padding: 10px;
    }
}

.goback{
    border: 3px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    padding: 2px 25px;
    border-radius: 15px;
    background-color: transparent;
    cursor: pointer;
}


/***************** Top Table ********************/

.top-table-container{
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 100px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0px;
    gap: 0;   
}

.top-table{
    min-width: 900px;
    background-color: #2E7D32;
    height: 50px;
    padding: 0px 2%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome{
    font-weight: bold;
    font-size: 20px;
    color: white;
}

/*********************/

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.search-by{
    font-weight: bold;
    font-size: 20px;
    color: white;
    min-width: 110px;

}

.selected-option{
    position: relative;
    width: 130px;
    height: 50px;
    padding: 0px 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.options{
    overflow: hidden;
    position: absolute;
    top: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    max-height: 0px;
    transition: 0.3s;
    z-index: 12;
}

.options.active{
    max-height: 150px;
    transition: 0.3s;
}

.option{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2E7D32;
    padding: 0px 25px;
    cursor: pointer;
}

#search{
    font-size: 16px;
    font-weight: bold;
    padding: 2px 10px;
    border: 0px;
    outline: none;
}

@media(max-width: 450px){
    #search{
        width: 100%;
    }
}

/************ Table **************/

.users-list{
    min-width: 900px;
    overflow-x: auto;
    height: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top{
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #308f35;
    width: 100%;
    padding: 0px 2%;
}

.usernameT, .passwordT, .roleT, .moneyT, .manageT{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.crtT{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

/*****/

.list{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.list::-webkit-scrollbar {
    width: 10px;
}

.list{
    scrollbar-width: thin;
    scrollbar-color:#196408 #2E7D32;
}


.list-el{
    width: 100%;
    background-color: #308f35;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 2%;
}

.content{
    width: 100%;
    height: 50px;
    background-color: #308f35;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 2%;
    z-index: 5;
}

.username, .password-container, .money, .role, .manage{
    border: 2px solid rgb(255, 255, 255);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.crtT, .crt{
    width: 8%;
}

.usernameT, .username{
    width: 26%;
}

.passwordT, .password-container{
    width: 21%;
}

.moneyT, .money{
    width: 23%;
}

.roleT, .role{
    width: 17%;
}

.manageT, .manage{
    width: 15%;
}

.username{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px, 10px;
}

.password-container{
    gap: 10px;
    padding: 0px 5px;
}

.password{
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.copy{
    background-color: white;
    color: green;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    padding: 2px 7px;
    cursor: pointer;
}

.crt{
    border: 2px solid rgb(255, 255, 255);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

@media(max-width: 1100px){
    .crt{
        border: 1px solid rgb(255, 255, 255);
    }

    .username, .password-container, .money, .role, .manage{
    border: 1px solid rgb(255, 255, 255);
    }
}

.modify{
    background-color: white;
    color: green;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    padding: 3px 15px;
    cursor: pointer;
}

.submenu{
    padding: 0px 2%;
    top: 100%;
    width: 100%;
    z-index: 3;
    transition: 0.3s;
    overflow: hidden;
    max-height: 0px; /*******************hereeee********************/
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.submenu.active{
    transition: 0.3s;
    max-height: 50px;
    overflow: visible;
}

.sub{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2E7D32;
    flex-direction: row;
    color: #ffffff;
    gap: 10px;
    z-index: 5;
}

.dont-exist{
    display: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 0px 2%;
}

/************ Delete Menu *************/

.delete-user{
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(226, 11, 11);
    color: white;
    border-radius: 10px;
    border: 2px solid white;
    padding: 3px 20px;
    cursor: pointer;
}

.menu-delete, .menu-role, .menu-money{
    position: absolute;
    width: 45%;
    background-color:#308f35;
    border: 5px solid #2E7D32;
    border-radius: 15px;
    box-shadow:  0 4px 6px rgba(0,0,0,0.1), 0 10px 20px rgba(0,0,0,0.08);
    z-index: 11;
    top: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;

    transform: translateY(-200%);
    transition: 0.4s;
}

@media(max-width: 1100px){
    .menu-delete, .menu-role, .menu-money{
        width: 60%;
    }
}

.menu-money.active{
    transform: translateY(0%);
    transition: 0.4s;
}

.menu-role.active{
    transform: translateY(0%);
    transition: 0.4s;
}

.menu-delete.active{
    transform: translateY(0%);
    transition: 0.4s;
}

.tit{
    font-weight: bold;
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.des{
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.yes-no-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25%;
}

.yes, .yes1, .no, .no1, .no0, .yes0{
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 1% 10%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.yes:hover, .no:hover{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow:  0 4px 6px rgba(0,0,0,0.1), 0 10px 20px rgba(0,0,0,0.08);
}

.yes1:hover, .no1:hover{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow:  0 4px 6px rgba(0,0,0,0.1), 0 10px 20px rgba(0,0,0,0.08);
}

.yes0:hover, .no0:hover{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow:  0 4px 6px rgba(0,0,0,0.1), 0 10px 20px rgba(0,0,0,0.08);
}

.no, .no1, .no0{
    background-color: rgb(212, 10, 10);
}

.yes, .yes1, .yes0{
    background-color:#2E7D32;
}

/**************** Role Control *****************/

.role-pick{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media(max-width: 1100px){
    .role-pick{
        position: relative;
    }
}

.selected-role{
    background-color:#308f35;
    height: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.role-options{
    left: 100%;
    width: auto;
    text-align: center;
    color: white;
    font-weight: bold;

    max-width: 0px;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1111;
}

@media(max-width: 1100px){
    .role-options{
        position: absolute;
    }
}

.role-options.active{
    max-width: 300px;
    transition: 0.5s;
    z-index: 1111;
}


.optionr{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2E7D32;
    padding: 0px 20px;
    cursor: pointer;
    z-index: 100;
}

/************** Money Input ***************/

.money-mod-container{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
}

.money-input{
    font-size: 16px;
    font-weight: bold;
    padding: 3px 10px;
    border: 0px;
    outline: none;
    width: 200px;
}

@media(max-width: 900px){
    .money-input{
        width: 150px;
    }
}

.submit-money{
    color: #2c7a30;
    font-weight: bold;
    font-size: 17px;
    padding: 3px 25px;
    background-color: white;
    border: 3px solid #308f35;
    border-radius: 10px;
    cursor: pointer;
}









