
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    box-sizing: border-box; 
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    gap: 30px;
    background-color: #E8F5E9;
}

/**************** Navigation Bar ********************/

.navbar{
    background-color:#2E7D32;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
    border-bottom: 3px solid white;

    color: white;
    font-weight: bold;
    font-size: 23px;
}

/***************** Top Table ********************/

.top-table-container{
    width: 100%;
    padding: 0px 5%;
    padding-top: 100px;
}

@media(max-width: 580px){
    .top-table-container{
        padding: 0px 1%;
        padding-top: 100px;
    }
}

.top-table{
    width: 100%;
    background-color: #2E7D32;
    height: 50px;
    padding: 0px 2%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome{
    font-weight: bold;
    font-size: 20px;
    color: white;
}

@media(max-width: 890px){
    .welcome{
        display: none;
    }
}

/*********************/

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.search-by{
    font-weight: bold;
    font-size: 20px;
    color: white;
}

@media(max-width: 600px){
    .search-by{
        display: none;
    }
}

.selected-option{
    position: relative;
    width: 130px;
    height: 50px;
    padding: 0px 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.options{
    overflow: hidden;
    position: absolute;
    top: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    max-height: 0px;
    transition: 0.3s;
}

.options.active{
    max-height: 100px;
    transition: 0.3s;
}

.option{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2E7D32;
    padding: 0px 25px;
    cursor: pointer;
}

#search{
    font-size: 16px;
    font-weight: bold;
    padding: 2px 10px;
    border: 0px;
    outline: none;
}

@media(max-width: 450px){
    #search{
        width: 100%;
    }
}

/************ Table **************/

.users-list{
    width: 100%;;
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top{
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #308f35;
    width: 100%;
}

.usernameT, .passwordT, .roleT, .manageT{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    width: 23%;
}

.crtT{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    width: 8%;
}

/*****/

.list{
    width: 100%;
    overflow-y: auto;
}

.list-el{
    width: 100%;
    height: 50px;
    background-color: #308f35;
    display: flex;
    justify-content: center;
    align-items: center;
}

.username, .password-container, .role, .manage{
    border: 2px solid rgb(255, 255, 255);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    width: 23%;
}

.username{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px, 10px;
}

.password-container{
    gap: 10px;
    padding: 0px 5px;
}

.password{
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.copy{
    background-color: white;
    color: green;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    padding: 2px 7px;
    cursor: pointer;
}

.crt{
    border: 2px solid rgb(255, 255, 255);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    width: 8%;
}

@media(max-width: 800px){
    .crt{
        border: 1px solid rgb(255, 255, 255);
    }

    .username, .password-container, .role, .manage{
    border: 1px solid rgb(255, 255, 255);
    }
}

.modify{
    background-color: white;
    color: green;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    padding: 3px 15px;
    cursor: pointer;
}

@media(max-width: 425px){
    .password{
        display: none;
        width: 0px;
    }

    .modify{
        padding: 2px 5px;
    }
}