
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    box-sizing: border-box; 
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
}

body{
    gap: 30px;
    background-color: #E8F5E9;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/**************** Navigation Bar ********************/

.navbar{
    background-color:#2E7D32;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;

    color: white;
    font-weight: bold;
    font-size: 23px;
}

.inv-nav{
    width: 100%;
    height: 55px;
}

.goback-container{
    position: absolute;
    top: 45px;
    padding: 15px;
}

@media(max-width: 900px){
    .goback-container{
        top: 50px;
    }
}

@media(max-width: 900px){
    .goback-container{
        padding: 10px;
    }
}

.goback{
    border: 3px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    padding: 2px 25px;
    border-radius: 15px;
    background-color: transparent;
    cursor: pointer;
}


/***************** Top Table ********************/

.top-table-container{
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 100px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0px;
    gap: 0;   
}

.top-table{
    min-width: 850px;
    background-color: #2E7D32;
    height: 50px;
    padding: 0px 2%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome{
    font-weight: bold;
    font-size: 20px;
    color: white;
}

/*********************/

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.search-by{
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.selected-option{
    position: relative;
    width: 130px;
    height: 50px;
    padding: 0px 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.options{
    overflow: hidden;
    position: absolute;
    top: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    max-height: 0px;
    transition: 0.3s;
}

.options.active{
    max-height: 150px;
    transition: 0.3s;
}

.option{
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#2E7D32;
    padding: 0px 25px;
    cursor: pointer;
}

#search{
    font-size: 16px;
    font-weight: bold;
    padding: 2px 10px;
    border: 0px;
    outline: none;
}

@media(max-width: 450px){
    #search{
        width: 100%;
    }
}

/************ Table **************/

.users-list{
    min-width: 850px;
    overflow-x: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top{
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #308f35;
    width: 100%;
    padding: 0px 2%;
}

.usernameT, .passwordT, .roleT, .moneyT, .manageT{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.crtT{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

/*****/

.list{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.list::-webkit-scrollbar {
    width: 10px;
}

.list{
    scrollbar-width: thin;
    scrollbar-color:#196408 #2E7D32;
}


.list-el{
    width: 100%;
    height: 50px;
    background-color: #308f35;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 2%;
}

.username, .password-container, .money, .role, .manage{
    border: 2px solid rgb(255, 255, 255);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.crtT, .crt{
    width: 8%;
}

.usernameT, .username{
    width: 26%;
}

.passwordT, .password-container{
    width: 21%;
}

.moneyT, .money{
    width: 23%;
}

.roleT, .role{
    width: 17%;
}

.manageT, .manage{
    width: 15%;
}

.username{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px, 10px;
}

.password-container{
    gap: 10px;
    padding: 0px 5px;
}

.password{
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.copy{
    background-color: white;
    color: green;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    padding: 2px 7px;
    cursor: pointer;
}

.crt{
    border: 2px solid rgb(255, 255, 255);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

@media(max-width: 800px){
    .crt{
        border: 1px solid rgb(255, 255, 255);
    }

    .username, .password-container, .money, .role, .manage{
    border: 1px solid rgb(255, 255, 255);
    }
}

.modify{
    background-color: white;
    color: green;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    padding: 3px 15px;
    cursor: pointer;
}