@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    box-sizing: border-box; 
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

html{
    height: 100%;
}

html, body{
    width: 100%;
    margin: 0px;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: #308f35;
    background-image: url(../images/bg.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    background-size: cover;
}

/**************** Navigation Bar ********************/

.navbar{
    background-color:#28702b;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    text-align: center;

    color: white;
    font-weight: bold;
    font-size: 23px;
}

.inv-nav{
    width: 100%;
    height: 55px;
}

/************ Position Create Table ***************/

#welcome, #account-balance{
    color: white;
    text-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 10px 20px rgba(0,0,0,0.08);
}


.welcome-user-container{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    flex-direction: column;
    text-align: center;
}

@media(max-height: 550px){
    body{
        height: auto;
    }

    .welcome-user-container{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media(max-width: 500px){
    .welcome-user-container{
        width: 90%;
    }
}

.img-cont{
    aspect-ratio: 1/1;
    background-color: rgb(134, 134, 134);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: relative;
    border: 3px solid #ffffff;
    cursor: pointer;
    margin-bottom: 10px;
    z-index: 1;
    
    color: white;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-cont img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.admin-btn{
    display: none;
    margin-top: 15px;
    border-radius: 25px;
    padding: 7px 30px;
    font-size: 17px;
    border: none;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: green;
    cursor: pointer;
}

.admin-btn:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.settings-btn{
    display: flex;
    margin-top: 15px;
    border-radius: 25px;
    padding: 7px 30px;
    font-size: 17px;
    border: none;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: green;
    cursor: pointer;
}

.settings-btn:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.logout{
    margin-top: 15px;
    border-radius: 25px;
    padding: 7px 30px;
    font-size: 17px;
    border: none;
    font-weight: bold;
    background-color: rgb(225, 8, 8);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.logout:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.position-create-table{
    max-width: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.users-table-container{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.create-user-container{
    display: none;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-user-container{
    display: none;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media(max-width: 740px){
    .position-create-table{
        flex-direction: column;
        align-items: none;
        gap: 30px;
        margin-top: 55px;
    }

    .create-user-container, .login-user-container, .users-table-container{
        width: 100%;
    }

    .users-table-container{
        display: none;
    }
}

/******************* Create User ******************/

.title{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
    color: rgb(237, 234, 234);
    text-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 10px 20px rgba(0,0,0,0.08);
}

.input{
    text-align: center;
    padding: 7px 10px;
    font-size: 17px;
    outline: none;
    font-weight: bold;
}

.input:first-child{
    margin-bottom: 20px;
}

.create-btn{
    width: 100%;
    margin-top: 25px;
    padding: 10px 10px;
    background-color: #319135;
    box-shadow:  0 4px 6px rgba(0,0,0,0.1), 0 10px 20px rgba(0,0,0,0.08);
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.create-btn:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.gologin, .gocreate{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.gologin button, .gocreate button{
    margin-left: 10px;
    color:#319135;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    padding: 2px 20px;
    background-color: white;
    box-shadow:  0 4px 6px rgba(0,0,0,0.1), 0 10px 20px rgba(0,0,0,0.08);
}




/*************** Show Table ******************/

.all-table-container{
     width: 80%;
}

.table-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 458px;
    overflow-y: auto;
}

.table-container::-webkit-scrollbar {
    width: 10px;
}

.table-container{
    scrollbar-width: thin;
    scrollbar-color:#196408 #2E7D32;
}


@media(max-width: 740px){
    .table-container{
        max-height: 280px;
    }
}

.top-table, .user-el{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-table div{
    background-color: #246428;
    font-weight: bold;
    color: white;

    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}

.user-el div{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    border: 1px solid #d8d8d8;
    color: white;
    background-color: #2b7d2d;
}

